name: swift-build-script
on:
  push:
    paths-ignore: 
      - .github/workflows/curl.yml
      - .github/workflows/icu.yml
      - .github/workflows/libxml2.yml
      - .github/workflows/swift-5.3.yml
      - .github/workflows/swift-master.yml
      - .github/workflows/zlib.yml
      - doc/**
      - LICENSE
      - README.md

  schedule:
    - cron: '0 22 * * *'

defaults:
  run:
    shell: cmd

jobs:
  swift:

    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [master, 5.3]
        patch: [clean, no-objc]
        include:
          - patch: clean
            enable-no-objc-patch: NO
          - patch: no-objc
            enable-no-objc-patch: YES
          - branch: master
            python-version: 3.7.x
          - branch: 5.3
            python-version: 2.7.x

    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Use Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Prepare Build Drive
        run: |
          call scripts\tools\get-free-drive.cmd
          subst %SW_FREE_DRIVE% ${{ github.workspace }}
          echo SW_WORK_DIR=%SW_FREE_DRIVE%>>%GITHUB_ENV%

      - name: Configure
        run: |
          subst

          scripts\configure.cmd^
           --interactive=NO^
           --branch ${{ matrix.branch }}^
           --sources-dir %SW_WORK_DIR%\s^
           --build-dir %SW_WORK_DIR%\b^
           --install-dir %SW_WORK_DIR%\i^
           --skip-toolchain-swift-test=YES^
           --skip-sdk-dispatch-test=YES^
           --skip-sdk-foundation-test=YES^
           --enable-no-objc-patch=${{ matrix.enable-no-objc-patch}}

      - name: Build
        run: scripts\build.cmd

      - name: Remove Build Drive
        if: always()
        run: subst /d %SW_WORK_DIR%
