name: swift-snapshot-trigger

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'

jobs:
  
  trigger-snapshot:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        spec: ['main', '5.4', '5.3']

    steps:
      - name: Trigger `${{ matrix.spec }}` Workflow
        run: |
          set -e
          
          http_code=$(curl -s -w "%{http_code}" -H 'Authorization: token ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}' \
            https://api.github.com/repos/${{ github.repository }}/actions/workflows/swift.yml/dispatches \
            -d '{"ref":"${{ github.ref }}","inputs":{"branch-spec":"${{ matrix.spec }}"}}')
          
          if [ "$http_code" != "204" ]; then
            echo "::error::Failed to start workflow"
            exit 1
          fi
